@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-comfortaa: var(--font-comfortaa);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: cursive;
}

@theme {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@theme {
  @keyframes bouncing {
    0%, 50%, 100% {
      transform: translateY(0);
    }
    25%, 75% {
      transform: translateY(-15px);
    }
  }
}